[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/32152428.JH/project/myvenv/bin/uwsgi -i /home/32152428.JH/project/MLHC/.config/uwsgi/MLHC.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
