<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
<h1>WELCOME MLHC</h1>

<h1> 선택된 광고 게시: < {{selected_id}} ></h1></br>
<h2> 선택된 태그 : < {% for list in scored_list %} #{{list}}   {% endfor %}></h2></br>


<iframe width="560" height="315" src = {{ selected_url }} > </iframe>


<h2> 선택된 광고의 피드백 값< {{selected_ad_id_feedback_value}} ></h2></br>


<h3>테스트</h3></br>
<span id="feedback_value">{{selected_ad_id_feedback_value}}</span></br>


<button id="P_button" value="Positive">좋아요</button>
<button id="N_button" value="Negative" name="N">싫어요</button>

</br></br></br>

<script>
/*
   navigator.mediaDevices.getUserMedia({audio:true}).then(stream => {audio_handler(stream)});
    var audio_chunks = [];
    audio_handler = function(stream){
    rec = new MediaRecorder(stream, {mimeType : 'audio/webm', codecs : "opus"});
        rec.ondataavailable = function(e){
            audio_chunks.push(e.data);
        }
    }
    //on rec.stop()
    var blob = new Blob(audio_chunks, {'type':'audio/wav; codecs=opus'});
    console.log(blob);
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "upload/", true);
    var data = new FormData();
    data.append('data', blob, 'audio_blob');
    xhttp.send(data);
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
         }
    };
*/
 </script>



<script> 
    $('#P_button').click(function(){
        console.log('hhhhiQQ')
        $.ajax({ 
            type:"GET",
            dataType:"JSON",
            url:'P_feedback/', 
            data : { 'P_key': {{selected_id}} },
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success:function(response){ 
                $('#feedback_value').html(response.update_feedback_value) 
            } 
        }) 
       }) 


    $('#N_button').click(function(){
        console.log('TTTixxx')
        $.ajax({
            type:"GET",
            dataType:"JSON",
            url:'N_feedback/',
            data : { 'N_key': {{selected_id}} },
             csrfmiddlewaretoken: '{{ csrf_token }}',
            success:function(response){
                $('#feedback_value').html(response.update_feedback_value)
            }
        })
       })

</script>




<div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
</div>

<div id="formats">Format: start recording to see sample rate</div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
    <script src="/static/js/recorder.js"></script>
    <script src= "/static/js/app.js"></script>




</br></br></br>




</br><h1> 저장되어 있는 광고갯수 {{len}}</h1></br>

    <h2> 유사한 광고 출력 나열</h2>
    {% for list in url_list %}
            <h4> {{ list }} </h4>
            <!-- <iframe width="360" height="115" src = {{ list }} > </iframe> -->
    {% endfor %}

    <h2> 위에 점수순으로 광고  나열</h2>
    {% for list in feedback_value %}
            <h4> {{ list }} </h4>
    {% endfor %}





</body>
</html>

