<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    
</head>

<body>

<div id="main_page">
<a href = https://2021-capstone-mlhc.com/main_page/>WELCOME MLHC</a>
<div id="player"></div>

<script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '680',
          width: '960',
          playerVars: {'rel': 0},
          videoId: '{{selected_url}}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }

      var done = false;
      function onPlayerStateChange(event) {
        if(event.data === 1)
        {
            console.log("played"); //setInterval은 실행되기만 하면 하루 종일 일 생김 -> 어차피 영상 멈추는 일을 가정하지 않으면 이게 나을 수 있음
            startRecording();
            setInterval(function () { stopRecording();
                                      startRecording(); }, 3000);
            console.log("qwe");  // 영상 재생된  시간 float 반환 ->  player.getCurrentTime()
        }
        if(event.data === 2)  //영상 pause
        {
            console.log("pauseed");
        }
        if(event.data === 0)
        {
          stopRecording();
          setTimeout(function(){
             window.location = "https://2021-capstone-mlhc.com/main_page/";
          }, 500);
         //  window.location = "https://2021-capstone-mlhc.com/main_page/";
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

<h1> < {{selected_name}} ></h1>
<h2> 선택된 태그 : < {% for list in scored_list %} #{{list}}   {% endfor %}></h2>

<h2> 선택된 광고의 피드백 값< {{selected_ad_id_feedback_value}} ></h2>

<button id="P_button" value="Positive">좋아요</button>
<button id="N_button" value="Negative" name="N">싫어요</button>

</br></br></br>

<script> 
    $('#P_button').click(function(){
        console.log('hhhhiQQ')
        $.ajax({ 
            type:"GET",
            dataType:"JSON",
            url:'P_feedback/', 
            data : { 'P_key': {{selected_id}} },
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success:function(response){ 
                $('#feedback_value').html(response.update_feedback_value) 
            } 
        }) 
       }) 


    $('#N_button').click(function(){
        console.log('TTTixxx')
        $.ajax({
            type:"GET",
            dataType:"JSON",
            url:'N_feedback/',
            data : { 'N_key': {{selected_id}} },
             csrfmiddlewaretoken: '{{ csrf_token }}',
            success:function(response){
                $('#feedback_value').html(response.update_feedback_value)
            }
        })
       })

</script>


<div id="buttons_formats">
<div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
</div>

<div id="formats">Format: start recording to see sample rate</div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
    <script src="/static/js/recorder.js"></script>
    <script src= "/static/js/app.js"></script>
</div>
</div>



<div id="similar_ad_list">
    <h2> 비슷한 광고</h2>
    {% for list in similar_ad_list %}
    {% if list.ad_url != "" %}
    <div id="similar_ad_img">
        <a href = /main_page/?ad_key={{list.tag3}}> <img width=180 height=101 src= {{list.ad_url}} ></a> 
        <div id="similar_ad_name">
            <a href = /main_page/?ad_key={{list.tag3}}>  <font size="4"> {{list.ad_name}}</font> </a> </br> <font size="2" style="color:gray;">{{list.name}}</font>
        </div>
</div>
     </br>
    {% else %}
    {% endif %}
    {% endfor %}
</div>

</body>
</html>


