body{
    width: 90%;
    margin: 10px auto;
    display:flex;
}

#main_page {
    flex:1;
    margin-left: 20%;
    width:80%;
}

#buttons_formats {
    display:none;
}

#similar_ad_list{
    flex:1;
    margin-left: 10%;
    margin-right: 10%;
}

#similar_ad_img {
    width: 50%;
    display:flex;
}

#similar_ad_name{
    margin-left:4%;
    width:100%;
    flex:none;
}
